.header{
    display:flex;
    justify-content:space-between;
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    padding: 0 20px;
    align-items: center;
    color:#3d4152;
}
.nav-items>ul{
    list-style-type:none;
    display:flex;
    align-items: center;
}
.nav-items>ul>li{
    margin-right: 60px;
    color: #3d4152;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    padding-left: 28px;

}
.logo{
    height:100%;
}
.card{
    width:259px;
    height:160px;
    margin-bottom:80px;
    padding: 20px;
    border:1px solid #e9e9eb;
}
.card>img{
    width:100%;
}
.restaurant-list{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding-top: 40px;
    border-top: 1px solid #e9e9eb;
    margin:10px 20px;
}
*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing:inherit;
}
.search-container{
    display:inline-block;
    text-align: center;
    margin:0 auto;
    width:100%;
}
.search-btn{
    height: 50px;
    border: none;
    border-radius: 5px;
    width: 118px;
    margin-left: 10px;
    border:1px solid rgb(219, 219, 219);
}
.search-input{
    width: 800px;
    margin-top: 130px;
    border: 1px solid rgba(40,44,63,.3);
    border-radius: 3px;
    height:50px;
    padding:0 20px;
}

.restaurant-card-name{
    margin-top:14px;
    font-size:17px;
    font-weight:bold;
}
.restaurant-card-cuisines{
    margin-top:4px;
    overflow-wrap: anywhere;
    font-size:13px;
}
.restaurant-card-last-mile-travel-string{
    font-size:15px;
    font-weight: 400;
    display:inline-block;
    text-align: center;
}
.shimmer-container{
    margin-top:190px;
}
.shimmer-card{
    width:259px;
    height:160px;
    background-color: lightgray;
    margin:20px;
}
.login-btn, .logout-btn{
    border:none;
    background-color:#fff;
}
a{
    text-decoration: none;
    color:gray;
}
a:hover{
    color:#3d4152;
}
.menu{
    display:flex;
    margin-top:80px;
}